@page "/phieu-xac-dinh-cong-doan"

@using ProcessManagement.Models
@using ProcessManagement.Models.SANPHAM
@using ProcessManagement.Services.QRCodes
@using ProcessManagement.Services.SQLServer
@using Radzen.Blazor
@using Radzen

@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject SQLServerServices SQLServerServices
@inject QRCodeServices QRCodeServices
@inject IJSRuntime JSRuntime

<style>
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table td, .table th {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
</style>


<RadzenCard>
    <div id="printing-component">
        <RadzenStack Gap="0px" Style="width: 100%; height: 100%; padding-left: 10px; padding-right: 10px" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <table class="table" style="width: 100%; height: contain; border-collapse: collapse;">
                <tr>
                    <td colspan="3" style="font-size: 22px; text-align: center; vertical-align: middle;  font-weight: bold">PHIẾU NHẬN DẠNG CÔNG ĐOẠN</td>
                    <td colspan="2" style="font-size: 13px; text-align: center; vertical-align: middle;">
                        <RadzenStack Gap="0px" Style="height: contain; width: contain" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                            @{
                                string qrBase64string = QRCodeServices.GenerateQRCode(MaQLyLot, 80);
                                <img style="border-radius: 10px;" src="@($"data:image/png;base64,{qrBase64string}")" alt="QR Code">
                            }
                            <RadzenText Text="@MaQLyLot" Style="font-size: 13px; font-weight: 600"></RadzenText>
                        </RadzenStack>
                    </td>
                    <td colspan="3" style="text-align: center; vertical-align: middle;">
                        <table style="width: 100%; height: 100%; border-collapse: unset;">
                            <tr>
                                <td colspan="4" style="text-align: center; vertical-align: middle; font-size: 12px;">Số quản lý</td>
                                <td colspan="4" style="text-align: center; vertical-align: middle; font-size: 12px;">PM-P-01/F04</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center; vertical-align: middle; font-size: 12px;">Số sửa đổi</td>
                                <td colspan="4" style="text-align: center; vertical-align: middle; font-size: 12px;">0</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center; vertical-align: middle; font-size: 12px;">Ngày sửa đổi</td>
                                <td colspan="4" style="text-align: center; vertical-align: middle; font-size: 12px;">_</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; text-align: center;">
                        Tên sản phẩm: <strong>@TargetKHSX.TargetSanPham?.SP_TenSanPham.Value?.ToString()</strong>
                    </td>
                    <td colspan="5" style="font-size: 13px; text-align: center; vertical-align: middle;">
                        Mã số SP: <strong>@TargetKHSX.TargetSanPham?.SP_MaSP.Value?.ToString()</strong>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Tên công đoạn</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Ngày GC</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Nhân viên</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Mã máy/vị trí</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Ca</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Số lượng</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Xác nhận</td>
                    <td style="font-size: 13px; text-align: center; vertical-align: middle;">Ghi chú</td>
                </tr>
                @foreach (var step in manufacturingSteps)
                {
                    <tr>
                        <td style="font-size: 13px;">@step.Name</td>
                        <td style="font-size: 13px;">@step.Date</td>
                        <td style="font-size: 13px;">@step.Employee</td>
                        <td style="font-size: 13px;">@step.Machine</td>
                        <td style="font-size: 13px;">@step.Shift</td>
                        <td style="font-size: 13px;">@step.Quantity</td>
                        <td style="font-size: 13px;">@step.Confirmation</td>
                        <td style="font-size: 13px;">@step.Notes</td>
                    </tr>
                }
            </table>
            <RadzenStack Gap="0px" Style="height: contain; width: 100%" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenText Text="PM-P-01/F04" Style="font-size: 13px; font-weight: 400"></RadzenText>
                <RadzenText Text="02/01/2025" Style="font-size: 13px; font-weight: 500"></RadzenText>
                <RadzenText Text="Thời gian lưu: 15 năm" Style="font-size: 13px; font-weight: 400"></RadzenText>
            </RadzenStack>
        </RadzenStack>
    </div>
    <RadzenStack Style="width: 100%; height: contain; padding-top: 20px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
        <RadzenButton Click="@(() => PrintComponent())" Icon="print" Text="Print" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Darker" Size="ButtonSize.Small" Variant="Variant.Filled"
                      Style="height: contain; width: contain; font-size: 13px;" />
    </RadzenStack>
</RadzenCard>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "khsxid")]
    public int KHSXID { get; set; } = 0;

    [Parameter]
    [SupplyParameterFromQuery(Name = "lot")]
    public string MaQLyLot { get; set; } = string.Empty;

    private KHSX TargetKHSX = new();

    protected override Task OnInitializedAsync()
    {
        TargetKHSX = SQLServerServices.GetKHSXbyID(KHSXID);

        manufacturingSteps = new();

        int index = 0;
        foreach (var cdoan in TargetKHSX.DSachCongDoans)
        {
            index++;
            ManufacturingStep manufacturing = new() { Name = $"{index}. {cdoan.TenCongDoan.Value?.ToString()}", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" };
            manufacturingSteps.Add(manufacturing);
        }

        return base.OnInitializedAsync();
    }

    private List<ManufacturingStep> manufacturingSteps = new List<ManufacturingStep>();
    // {
    //     // new ManufacturingStep { Name = "1. NC1 (Tiện phi), kiểm pin 100%", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" },
    //     // new ManufacturingStep { Name = "2. MC1 (Khoan lỗ), kiểm JIG 100%", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" },
    //     // new ManufacturingStep { Name = "3. NC2 (Tiện ren), kiểm ren 5pcs/11", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" },
    //     // new ManufacturingStep { Name = "4. Rửa", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" },
    //     // new ManufacturingStep { Name = "5. Kiểm Pin, M3, ren RC3/8 100%", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" },
    //     // new ManufacturingStep { Name = "6. Ngoại quan + đóng thùng", Date = "", Employee = "", Machine = "", Shift = "", Quantity = "", Confirmation = "", Notes = "" }
    // };

    public class ManufacturingStep
    {
        public string? Name { get; set; }
        public string? Date { get; set; }
        public string? Employee { get; set; }
        public string? Machine { get; set; }
        public string? Shift { get; set; }
        public string? Quantity { get; set; }
        public string? Confirmation { get; set; }
        public string? Notes { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("import", "/js/printBlazorComponent.js");
        }
    }

    private async Task PrintComponent()
    {
        await JSRuntime.InvokeVoidAsync("printBlazorComponent", "printing-component");
    }
}
