@using ProcessManagement.Commons
@using ProcessManagement.Models.KHO_NVL
@using ProcessManagement.Models.KHSXs
@using ProcessManagement.Pages.KehoachSX.MQL_Template
@using ProcessManagement.Pages.Manager_NguyenCong.Dialogs
@using ProcessManagement.Services.SQLServer
@using Radzen.Blazor
@using Radzen
@using ProcessManagement.Models

@inject DialogService DialogService
@inject NotificationService NotificationService
@inject SQLServerServices SQLServerServices

<style>
    .custom-placeholder::placeholder {
        color: #888888;
        font-size: 14px;
        font-style: italic;
    }

    .rz-numeric.custom-numeric input {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
</style>

<RadzenStack Gap="0" Style="width: 100%; height: contain; background-color: white" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenStack Style="height: contain; width: 100%; border-radius: 10px; background-color: var(--rz-primary-darker); padding: 10px; padding-bottom: 0" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <RadzenText Text="TẠO KẾ HOẠCH SẢN XUẤT" Style="color: white; font-weight: 600; font-size: 18px"></RadzenText>
    </RadzenStack>
    <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: contain; border-radius: 10px; padding-right: 0px;">
        <RadzenRow Style="width: 100%; height: 100%; overflow-y: scroll">
            <!--Chi dinh nguyen vat lieu / thong tin ke hoach san xuat-->
            <RadzenColumn Size="12" SizeMD="4" Style="width: 100%; height: 100%">
                <RadzenStack Style="height: 100%; width: 100%; padding-bottom: 5px; padding-right: 15px; border-right: var(--rz-grid-cell-border);" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                    <RadzenCard Variant="Variant.Filled" Style="width: 100%; height: 100%; padding: 15px; padding-right: 5px; border-radius: 10px;">
                        <RadzenStack Gap="0px" Style="width: 100%; height: 100%; padding: 0; overflow-y: scroll" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                            <RadzenStack Style="width: 100%; height: contain; border-bottom: var(--rz-grid-cell-border); padding-bottom: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                <RadzenText Text="Nhập thông tin kế hoạch sản xuất" Style="color: darkred; font-weight: 600; font-size: 16px; font-style: initial"></RadzenText>
                            </RadzenStack>
                            <RadzenStack Gap="10px" Style="width: 100%; height: contain; padding: 10px" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <!--LSX Code-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Mã lệnh SX" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="@generLot.MaLSX" Style="font-size: 18px; font-weight: 600; width: 100%; height: contain; color: red"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>
                                <!--Ngày tạo-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Ngày tạo" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenDatePicker Placeholder="*Ngày nhập" TValue="DateTime" Value=@generLot.NgayTao
                                                          ValueChanged="@((args) => { generLot.NgayTao = args; })"
                                                          ShowTime="false" HourFormat="12" DateFormat="@Common.FormatNoTime_yyyMMdd" AllowInput="false"
                                                          Style="width: 100%; border-radius: 10px; font-size: 16px">
                                        </RadzenDatePicker>
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Select NVL-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Chọn nguyên liệu" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="10px" Style="width: 50%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                        <!--Chua chi dinh so luong NVL-->
                                        <RadzenButton Visible="@(!generLot.isCheckSLNVLisOK)" Click="@(() => OpenDialogSelectNVLofKHSX())" Style="width: 100%;" Icon="add" Text="Lấy nguyên vật liệu" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Variant="Variant.Flat" />
                                        <!--Da chi dinh so luong NVL-->
                                        <RadzenButton Visible="@generLot.isCheckSLNVLisOK" Click="@(() => OpenDialogSelectNVLofKHSX())" Style="width: 100%; font-size: 16px" Icon="check" Text="Đã chọn NVL" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success" Shade="Shade.Lighter" Variant="Variant.Flat" />
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Selected NVL-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Mã nguyên liệu" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="@($"{generLot.NewKHSX.TargetNVL?.MaNVL.Value?.ToString()}")" Style="font-size: 17px; font-weight: 600; width: 100%; height: contain; color: darkblue"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Tên sản phẩm-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain; padding-top: 10px; border-top: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Tên sản phẩm" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="@($"{generLot.NewKHSX.TargetSanPham?.SP_TenSanPham.Value?.ToString()}")" Style="font-size: 17px; font-weight: 600; width: 100%; height: contain; color: darkblue"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Mã sản phẩm-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain; padding-top: 10px; border-top: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Mã sản phẩm" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="@($"{generLot.NewKHSX.TargetSanPham?.SP_MaSP.Value?.ToString()}")" Style="font-size: 17px; font-weight: 600; width: 100%; height: contain; color: darkblue"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Số lượng SX-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain; padding-top: 10px; border-top: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Số lượng PO" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="@($"{generLot.SLNgVatLieuSX.ToString()} (PCS)")" Style="font-size: 18px; font-weight: 600; width: 100%; height: contain; color: darkblue"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Tỉ lệ lỗi-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Tỉ lệ lỗi (%)" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="15px" Style="width: 50%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                        <RadzenText Text="@($"{generLot.TiLeLoi.ToString()} (%)")" Style="font-size: 18px; font-weight: 600; width: contain; height: contain; color: darkblue"></RadzenText>

                                        <RadzenText Visible="(generLot.TiLeLoi != 0)" Text="@($"~ {generLot.DinhMuc - generLot.SLNgVatLieuSX} (PCS)")" Style="font-size: 18px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <!--Định mức-->
                                <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Số lượng sản xuất" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="@($"{generLot.DinhMuc.ToString()} (PCS)")" Style="font-size: 18px; font-weight: 600; width: 100%; height: contain; color: darkgreen"></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <RadzenStack Gap="10px" Style="width: 100%; height: contain; padding-top: 10px; padding-bottom: 10px; border-top: var(--rz-grid-cell-border); border-bottom: var(--rz-grid-cell-border)" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <!--Số lượng NVL mỗi Lot-->
                                    <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenStack Style="width: 50%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                            <RadzenText Text="Số lượng NVL mỗi lot (PCS)" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                        </RadzenStack>
                                        <RadzenStack Style="width: 50%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                            <RadzenNumeric class="custom-numeric" Placeholder="*nhập số lượng mỗi lot" TValue="int" Min="0" Max="100000"
                                                           Value="@generLot.SLperLotChan" ValueChanged="@((args) => { generLot.SLperLotChan = args ; generLot.ReCalculate();})"
                                                           Style="font-size: 18px; height: contain; border-radius: 0; border-width: 1px; width: 100%" />
                                        </RadzenStack>
                                    </RadzenStack>

                                    <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style="height: 100%; width: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                        <RadzenStack Gap="0" Orientation="Orientation.Vertical" Style=" height: contain; width: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                            <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: 100%; padding: 5px; padding-right: 0px;">
                                                <RadzenStack Style="width: 100%; height: contain" Gap="0" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                    <RadzenStack Style="width: 30%; height: contain; padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenText Text="Ngày nhập kho" Style="color: black; font-weight: 600; font-size: 14px"></RadzenText>
                                                    </RadzenStack>
                                                    <RadzenStack Style="width: 25%; height: contain; padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenText Text="Lot chẳn" Style="color: black; font-weight: 600; font-size: 14px"></RadzenText>
                                                    </RadzenStack>
                                                    <RadzenStack Style="width: 25%; height: contain; padding-left: 10px; padding-right: 10px" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenText Text="Lot lẻ" Style="color: black; font-size: 14px; font-weight: 600; height: contain;"></RadzenText>
                                                    </RadzenStack>
                                                    <RadzenStack Style="width: 20%; height: contain; " AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenText Text="Tổng" Style="color: black; font-size: 14px; font-weight: 600; height: contain;"></RadzenText>
                                                    </RadzenStack>
                                                </RadzenStack>
                                            </RadzenCard>
                                        </RadzenStack>

                                        <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 90%; width: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                            @foreach (var lotkhsx in generLot.DetailLotKHSXs)
                                            {
                                                <RadzenCard Variant="Variant.Outlined" Style="width: 100%; height: contain; padding: 5px; padding-right: 0px; background-color: white">
                                                    <RadzenStack Style="width: 100%; height: 100%" Gap="10px" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenStack Style="width: 30%; height: contain; border-right: var(--rz-grid-cell-border); padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="@lotkhsx.NgayNhapKho?.ToString()" Style="color: darkblue; font-weight: 600; font-size: 14px"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Gap="10px" Style="width: 25%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Visible="@(lotkhsx.SLLotChan > 0)" Text="@($"{lotkhsx.SLLotChan.ToString()} LOT")" Style="font-size: 14px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                            <RadzenText Visible="@(lotkhsx.SLLotChan > 0)" Text="@($"{lotkhsx.SLperLotChan.ToString()} PCS")" Style="font-size: 14px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Gap="10px" Style="width: 25%; height: contain; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Visible="@(lotkhsx.SLLotLe > 0)" Text="@($"{lotkhsx.SLLotLe.ToString()} LOT")" Style="font-size: 14px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                            <RadzenText Visible="@(lotkhsx.SLLotLe > 0)" Text="@($"{lotkhsx.SLperLotLe.ToString()} PCS")" Style="font-size: 14px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Gap="10px" Style="width: 20%; height: contain; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="@($"{(lotkhsx.SLLotChan*lotkhsx.SLperLotChan + lotkhsx.SLLotLe*lotkhsx.SLperLotLe).ToString()} PCS")" Style="font-size: 14px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                        </RadzenStack>
                                                    </RadzenStack>
                                                </RadzenCard>
                                            }
                                        </RadzenStack>
                                    </RadzenStack>

                                    <!--Range ma quan ly-->
                                    <RadzenStack Visible="@(generLot.ListTempLOT_NVLs?.Count > 0)" Gap="5px" Style="width: 100%; height: contain; padding-top: 10px; border-top: var(--rz-grid-cell-border);" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenStack Style="width: 100%; height: contain; padding-right: 10px" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                            <RadzenText Text="Mã quản lý" Style="font-size: 16px; font-weight: 600; color: black"></RadzenText>
                                        </RadzenStack>
                                        <RadzenStack Style="width: 100%; height: contain;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                            <RadzenText Text="@($"{generLot.ListTempLOT_NVLs?.FirstOrDefault()?.MaQuanLy.Value?.ToString()} --- {generLot.ListTempLOT_NVLs?.LastOrDefault()?.MaQuanLy.Value?.ToString()}")"
                                                        Style="color: darkblue; font-weight: 600; font-size: 18px"></RadzenText>
                                        </RadzenStack>
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Horizontal" Style="width: 100%; height: contain;" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                                <RadzenStack Gap="10px" Orientation="Orientation.Horizontal" Style="width: 100%; height: contain;" AlignItems="AlignItems.Start">
                                    <RadzenStack Visible="@(!generLot.isGenerateListLotOK)" Style="width: 50%; height: 100%" JustifyContent="JustifyContent.Center">
                                        <RadzenButton Click="@(async () => { await CreateListLot();})" Icon="autorenew" Text="Tạo danh sách LOT" IsBusy="@waitgetlistlot" BusyText="Creating..."
                                                      Style="font-size: 16px; border-radius: 5px; width: 100% " Shade="Shade.Dark" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"></RadzenButton>
                                    </RadzenStack>
                                    <!--Button generate success-->
                                    <RadzenStack Visible="@(generLot.isGenerateListLotOK)" Style="width: 50%; height: 100%" JustifyContent="JustifyContent.Center">
                                        <RadzenButton Click="@(async () => { await CreateListLot();})" Icon="check" Text="Đã tạo danh sách LOT" IsBusy="@waitgetlistlot" BusyText="Creating..."
                                                      Style="font-size: 16px; border-radius: 5px; width: 100% " Shade="Shade.Lighter" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small"></RadzenButton>
                                    </RadzenStack>
                                    <RadzenStack Visible="@(!generLot.isGenerateListLotOK)" Style="width: 50%; height: 100%" JustifyContent="JustifyContent.Center">
                                        <RadzenButton Click="@(async () => { await OpenCreateListLotUsingTemplate();})" Icon="autorenew" Text="Tạo LOT với template" IsBusy="@waitgetlistlot" BusyText="Creating..."
                                                      Style="font-size: 16px; border-radius: 5px; width: 100% " Shade="Shade.Dark" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"></RadzenButton>
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenCard>
                </RadzenStack>
            </RadzenColumn>
            <!--Danh sach LOT va nguyen con san xuat-->
            <RadzenColumn Size="12" SizeMD="8" Style="width: 100%; height: 100%;">
                <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: 100%; padding: 0; padding-left: 10px">
                    <RadzenStack Gap="0" Orientation="Orientation.Vertical" Style="width: 100%; height: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                        <RadzenStack Style="width: 100%; height: 100%;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                            <RadzenRow Gap="10px" Style="width: 100%; height: 90%; padding: 10px; padding-right: 0px; background-color: white; border-radius: 10px; overflow-y: scroll;">
                                <RadzenColumn Size="12" SizeMD="6" Style="width: 100%; height: 100%;">
                                    <RadzenStack Style="height: 5%; width: 100%; padding-bottom: 5px" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Danh sách LOT nguyên vật liệu" Style="color: black; font-style: italic; font-weight: 600; font-size: 16px"></RadzenText>
                                        <RadzenText Text="@($"({generLot.ListTempLOT_NVLs?.Count} LOT)")" Style="color: black; font-style: italic; font-weight: 600; font-size: 16px"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 95%; width: 100%; padding: 10px; border-top: var(--rz-grid-cell-border);" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start">
                                        <!--LOT List-->
                                        <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: 100%; padding: 5px;">
                                            <RadzenStack Gap="0" Orientation="Orientation.Vertical" Style=" height: contain; width: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                <RadzenStack Gap="0" Orientation="Orientation.Vertical" Style=" height: 8%; width: 100%; padding-right: 10px" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                    <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: 100%; padding: 5px;">
                                                        <RadzenStack Style="width: 100%; height: contain" Gap="0" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenStack Style="width: 10%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenText Text="#" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                            </RadzenStack>
                                                            <RadzenStack Style="width: 45%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenText Text="Mã quản lý" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                            </RadzenStack>
                                                            <RadzenStack Style="width: 20%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenText Text="Số lượng" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                            </RadzenStack>
                                                            <RadzenStack Style="width: 25%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenText Text="Ngày nhập kho" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                            </RadzenStack>
                                                        </RadzenStack>
                                                    </RadzenCard>
                                                </RadzenStack>

                                                <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 500px; width: 100%; overflow-y: scroll; " AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                    @if (generLot.ListTempLOT_NVLs != null)
                                                    {
                                                        @foreach (var lot in generLot.ListTempLOT_NVLs)
                                                        {
                                                            <RadzenCard Variant="Variant.Outlined" Style="width: 100%; height: 100%; padding: 5px; background-color: white">
                                                                <RadzenStack Style="width: 100%; height: contain" Gap="10px" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenStack Style="width: 10%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@((generLot.ListTempLOT_NVLs?.IndexOf(lot) + 1).ToString())" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                    <RadzenStack Style="width: 45%; height: contain; background-color: beige" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@lot.MaQuanLy.Value?.ToString()" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                    <RadzenStack Style="width: 20%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@($"{lot.SoLuong.Value} (PCS)")" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                    <RadzenStack Style="width: 25%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@($"{lot.NgayNhap.Value}")" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                </RadzenStack>
                                                            </RadzenCard>
                                                        }
                                                    }
                                                </RadzenStack>
                                            </RadzenStack>
                                        </RadzenCard>
                                    </RadzenStack>
                                </RadzenColumn>

                                <RadzenColumn Size="12" SizeMD="6" Style="width: 100%; height: 100%;">
                                    <RadzenStack Style="height: 5%; width: 100%; padding-bottom: 5px" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                        <RadzenText Text="Nguyên công sản xuất" Style="color: black; font-style: italic; font-weight: 600; font-size: 16px"></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 95%; width: 100%; padding: 10px; border-top: var(--rz-grid-cell-border);" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start">
                                        <RadzenTabs Style="height: 600px; width: 100%;">
                                            <Tabs>
                                                <!--Select Nguyen cong list-->
                                                <RadzenTabsItem @onclick="@(() => selectNCongTab = 1)" Text="Chọn nguyên công" Style="font-weight: bold; font-size: 18px; color: darkred">
                                                    <RadzenStack Gap="0" Orientation="Orientation.Vertical" Style=" height: 100%; width: 100%; padding: 0px; " AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenCard Variant="Variant.Filled" Style="height: 100%; width: 100%; padding: 10px;">
                                                            <RadzenPickList @bind-Source="@(generLot.DefaultListCDnames)" @bind-Target="@generLot.SelectListCDnames" Style="height: contain; width:100%;" Orientation="Orientation.Horizontal"
                                                                            AllowFiltering="true" Multiple="false" ShowHeader="true"
                                                                            ButtonGap="10px" ButtonJustifyContent="JustifyContent.Center" ButtonStyle="ButtonStyle.Secondary" ButtonSize="ButtonSize.Small" ButtonShade="Shade.Default" ButtonVariant="Variant.Filled">
                                                                <SourceHeader>
                                                                    <RadzenText Text="Danh sách nguyên công:" Style="color: black; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                                </SourceHeader>
                                                                <TargetHeader>
                                                                    <RadzenText Text="Thứ tự nguyên công đã chọn:" Style="color: black; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                                </TargetHeader>
                                                                <Template>
                                                                    <RadzenStack Style="height: contain; width: 100%;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                                                        <RadzenText Text="@($"{context.TenNguyenCong.Value?.ToString()}")" Style="color: black; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                                        @{
                                                                            int index = generLot.SelectListCDnames?.ToList().IndexOf(context) ?? -1;
                                                                        }
                                                                        <RadzenText Text="@((index == -1)? string.Empty : "["+(index + 1).ToString()+"]")" Style="color: darkblue; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                </Template>
                                                            </RadzenPickList>
                                                            <RadzenButton Click="@(() => OpenDialogThemmoiNguyenCong())" Style="width: contain; margin-top: 10px;" Icon="add" Text="Thêm nguyên công khác" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Variant="Variant.Flat" />
                                                        </RadzenCard>
                                                    </RadzenStack>
                                                </RadzenTabsItem>
                                                <!--Select Tileloi nguyen cong-->
                                                <RadzenTabsItem @onclick="@(() => selectNCongTab = 2)" Text="Tỉ lệ lỗi nguyên công" Style="font-weight: bold; font-size: 18px; color: darkred">
                                                    <RadzenCard Variant="Variant.Filled" Style="height: 100%; width: 100%; padding: 10px;">
                                                        <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 100%; width: 100%; padding: 0px; " AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                            <RadzenStack Gap="20px" Visible="@(generLot.DinhMuc == 0)" Style="height: contain; width: 100%; background-color: var(--rz-success-lighter); padding: 10px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenText Text="Hãy nhập số lượng SX và tỉ lệ lỗi của kế hoạch sản xuất" Style="color: red; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                            </RadzenStack>
                                                            @{
                                                                generLot.CheckSoluongLoiChophep();
                                                            }
                                                            <RadzenStack Gap="20px" Visible="@(generLot.DinhMuc != 0)" Style="height: contain; width: 100%; background-color: var(--rz-success-lighter); padding: 10px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                                <RadzenText Text="Tỉ lệ lỗi cho phép: " Style="color: green; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                                <RadzenText Text="@($"{generLot.TiLeLoi} %")" Style="color: darkred; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                                <RadzenText Text="@($"{generLot.DinhMuc - generLot.SLNgVatLieuSX} (PCS)")" Style="color: darkred; font-weight: 600; color: black; font-size: 16px"></RadzenText>
                                                            </RadzenStack>
                                                            <RadzenRow Gap="10px" Style="width: contain; height: 100%;">
                                                                <RadzenColumn Size="12" SizeMD="9" Style="width: 100%; height: 100%; border-right: var(--rz-grid-cell-border)">
                                                                    <RadzenStack Visible="@(generLot.DinhMuc != 0)" Gap="10px" Orientation="Orientation.Vertical" Style="height: contain; width: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenStack Gap="0" Orientation="Orientation.Vertical" Style=" height: contain; width: 100%; padding-right: 0" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                            <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: 100%; padding: 5px;">
                                                                                <RadzenStack Style="width: 100%; height: contain" Gap="0" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                    <RadzenStack Style="width: 5%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                        <RadzenText Text="#" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                                    </RadzenStack>
                                                                                    <RadzenStack Style="width: 45%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                        <RadzenText Text="Nguyên công" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                                    </RadzenStack>
                                                                                    <RadzenStack Style="width: 50%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                        <RadzenText Text="SL lỗi cho phép" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                                    </RadzenStack>
                                                                                </RadzenStack>
                                                                            </RadzenCard>
                                                                        </RadzenStack>

                                                                        <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 90%; width: 100%; overflow-y: scroll" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">

                                                                            @foreach (var nguyencong in generLot.NewKHSX.DSachCongDoans)
                                                                            {
                                                                                <RadzenCard Variant="Variant.Outlined" Style="width: 100%; height: 100%; padding: 5px; background-color: white">
                                                                                    <RadzenStack Style="width: 100%; height: contain" Gap="0" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                        <RadzenStack Style="width: 5%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                            <RadzenText Text="@((generLot.NewKHSX.DSachCongDoans.IndexOf(nguyencong) + 1).ToString())" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                                        </RadzenStack>
                                                                                        <RadzenStack Style="width: 45%; height: contain; border-left: var(--rz-grid-cell-border); border-right: var(--rz-grid-cell-border); padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                            <RadzenText Text="@nguyencong.TenCongDoan.Value?.ToString()" Style="color: darkblue; font-weight: 600; font-size: 16px"></RadzenText>
                                                                                        </RadzenStack>
                                                                                        <RadzenStack Style="width: 50%; height: contain; padding-left: 10px" Gap="10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                                            <RadzenNumeric TValue="int" Min="0" Value="@(int.TryParse(nguyencong.SoluongNG.Value?.ToString(), out int slloi)? slloi : 0)"
                                                                                                           ValueChanged="@((args) =>{ nguyencong.SoluongNG.Value = args; generLot.CheckSoluongLoiChophep();})"
                                                                                                           Style="font-size: 18px; font-weight: 600; height: contain; width: contain; border-radius: 0px;" />
                                                                                            <RadzenText Text="(PCS)" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                                        </RadzenStack>
                                                                                    </RadzenStack>
                                                                                </RadzenCard>
                                                                            }
                                                                        </RadzenStack>
                                                                    </RadzenStack>
                                                                </RadzenColumn>
                                                                <RadzenColumn Size="12" SizeMD="3" Style="width: 100%; height: 100%;">
                                                                    <RadzenStack Visible="@(generLot.DinhMuc != 0)" Gap="10px" Orientation="Orientation.Vertical" Style="height: contain; width: 100%;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenButton Click="@(() => ChiadeuSLloiNguyencong())" Style="width: 100%;" Icon="autorenew" Text="Chia đều" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Variant="Variant.Flat" />
                                                                        <RadzenButton Click="@(() => {if(!generLot.isErrorSLloiChophep){generLot.isComfirmSLLoiNguyenCong = true;}})" Style="width: 100%;" Icon="check" Text="Xác nhận" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success" Shade="Shade.Lighter" Variant="Variant.Flat" />
                                                                        <RadzenAlert Visible="@generLot.isErrorSLloiChophep" Text="@($"Số lượng lỗi mỗi nguyên công chưa hợp lệ!")" Style="width: 100%; height: contain; font-size: 16px" AlertStyle="AlertStyle.Warning" AllowClose="false" Variant="Variant.Flat" Size="AlertSize.Small" Shade="Shade.Lighter"></RadzenAlert>
                                                                    </RadzenStack>
                                                                </RadzenColumn>
                                                            </RadzenRow>
                                                        </RadzenStack>
                                                    </RadzenCard>
                                                </RadzenTabsItem>
                                            </Tabs>
                                        </RadzenTabs>
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                            <!--Submit LSX to database-->
                            <RadzenStack Style="width: 100%; height: 7%; padding: 5px; background-color: white" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                <RadzenButton Disabled="@((!generLot.isGenerateListLotOK) || (!generLot.isCheckSLNVLisOK)|| generLot.NewKHSX.DSachCongDoans?.Count() == 0
                                                        || generLot.ListTempLOT_NVLs == null || generLot.ListTempLOT_NVLs?.Count() == 0 || !generLot.isComfirmSLLoiNguyenCong || generLot.isErrorSLloiChophep)"
                                              Icon="upload" Text="Lưu kế hoạch sản xuất"
                                              Click="@(() => SubmitKHSXtoDatabase())" Style="font-size: 16px; border-radius: 5px; width: 50%;"
                                              IsBusy=@isAddingLSXtodatabase BusyText="Waiting..."
                                              Variant="Variant.Filled" ButtonStyle="ButtonStyle.Success" Shade="Shade.Darker" Size="ButtonSize.Small">
                                </RadzenButton>
                                <RadzenButton Style="width: contain; color: white;" Icon="close" Text="Thoát" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Dark" Variant="Variant.Flat" Click="@(() => DialogService.Close(null))" />
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
</RadzenStack>

@code {
    private GenerateLot_V3 generLot = new(); // Inital KHSX
    private bool waitgetlistlot = false;
    private bool allowgenerateCongdoan = true;
    private bool submitCongDoanDone = false;
    private bool submitCongDoanListDone = false;
    private bool isSelectAllCongdoan = false;
    private string currentSelectCDname = string.Empty;
    private bool isAddingLSXtodatabase = false;
    private int selectNCongTab = 1;


    // Tao danh sach LOT
    private async Task CreateListLot()
    {
        generLot.ListTempLOT_NVLs = new();

        generLot.isGenerateListLotOK = false;


        await Task.Run(async () =>
        {
            waitgetlistlot = true;

            //int result = -1; string error = "Không thể tạo danh sách lot nguyên vật liệu!";

            List<ViTriofNVL> dsvitris = generLot.NewKHSX.DSachNVLofKHSXs.FirstOrDefault()?.dsVitriofNVLs ?? new(); // lay NVL dau tien

            List<TemLotNVL>? temLotNVLs = null;

            //await Task.Run(() => { (result, error) = generLot.GenerateLotNVL(); });
            await Task.Run(() => { temLotNVLs = generLot.GenerateLotNVL_perVitriofNVL(dsvitris, generLot.DinhMuc, generLot.SLperLotChan); });


            if (temLotNVLs == null)
            {
                //await DialogService.Alert($"{error}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
                await DialogService.Alert($"Không thể tạo LOT", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
            }
            else
            {
                generLot.ListTempLOT_NVLs = temLotNVLs;

                int sumslpertemlot = temLotNVLs.Sum(tem => int.TryParse(tem.SoLuong.Value?.ToString(), out int sl) ? sl : 0);

                if (sumslpertemlot == generLot.DinhMuc)
                {
                    generLot.isGenerateListLotOK = true;
                }
                else generLot.isGenerateListLotOK = false;
            }

            waitgetlistlot = false;

        });
    }

    private async Task OpenCreateListLotUsingTemplate()
    {
        var results = await DialogService.OpenAsync<DialogMQLTemplateGeneration>(null, new Dictionary<string, object>() { { "MaLSX", generLot.MaLSX }, { "MaSanPham", generLot.NewKHSX.TargetSanPham?.SP_MaSP.Value ?? string.Empty } },
        new DialogOptions() { Width = "80%", Height = "contain", Resizable = false, Draggable = true, ShowTitle = false, ShowClose = false, Style = "background-color: while; border-radius: 0px; padding: 0px" });

    }

    // Delete ke hoach san xuat
    private async Task DeleteKehoachSanxuat()
    {
        // Add new KHSX to DB
        (int result, string removekhsxError) = SQLServerServices.DeleteKehoachSanxuat(generLot.NewKHSX);

        if (result < 0)
        {
            await DialogService.Alert($"{removekhsxError}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
        }
    }

    // Them congdoan/nguyencong moi
    private async Task OpenDialogThemmoiNguyenCong()
    {
        NguyenCong newNC = await DialogService.OpenAsync<DialogAddNewNguyenCong>(null, null,
        new DialogOptions() { Width = "70%", Height = "contain", Resizable = false, Draggable = true, ShowTitle = false, ShowClose = false, Style = "background-color: while; border-radius: 0px; padding: 0px" });

        if (newNC != null && newNC.NCID.Value != null)
        {
            // Reload list nguyen cong
            //List<NguyenCong> NguyenCongs = SQLServerServices.GetListNguyenCongs();
            generLot.AddNewNguyenCongtoList(newNC);

            StateHasChanged();
        }
    }

    // Chon nguyen vat lieu san xuat
    private async Task OpenDialogSelectNVLofKHSX()
    {
        List<NVLofKHSX> nVLofKHSXs = await DialogService.OpenAsync<DialogSelectSoluongNVLofKHSX_V3>(null, new Dictionary<string, object>() { { "generLot", generLot } },
        new DialogOptions() { Width = "80%", Height = "contain", Resizable = false, Draggable = true, ShowTitle = false, ShowClose = false, Style = "background-color: while; border-radius: 0px; padding: 0px" });



        // Recalculate variable
        generLot.ReCalculate();

        // Update trang thai - SLNVL
        generLot.isCheckSLNVLisOK = generLot.CheckSLNVLisOK();
    }

    // Chia deu so luong loi cho cac congdoan/nguyencong
    private void ChiadeuSLloiNguyencong()
    {
        generLot.SLLoi = generLot.DinhMuc - generLot.SLNgVatLieuSX;

        if (generLot.SLLoi >= 0 && generLot.NewKHSX.DSachCongDoans.Count() > 0)
        {
            int slloiChan = generLot.SLLoi / generLot.NewKHSX.DSachCongDoans.Count();

            int slloiLe = generLot.SLLoi % generLot.NewKHSX.DSachCongDoans.Count();

            foreach (var nguyencong in generLot.NewKHSX.DSachCongDoans)
            {
                nguyencong.SoluongNG.Value = slloiChan;
            }

            if (slloiLe > 0)
            {
                foreach (var nguyencong in generLot.NewKHSX.DSachCongDoans)
                {
                    nguyencong.SoluongNG.Value = slloiChan + 1;

                    slloiLe--;

                    if (slloiLe == 0)
                    {
                        break;
                    }
                }
            }

            generLot.isErrorSLloiChophep = false;
        }
    }

    // Luu ke hoach san xuat to Database
    private async Task SubmitKHSXtoDatabase()
    {
        if (generLot.ListTempLOT_NVLs == null || generLot.NewKHSX == null || generLot.NewKHSX.DSachCongDoans.Count == 0) { return; }

        isAddingLSXtodatabase = true;

        await Task.Run(async () =>
        {
            // Asign khsx properties
            generLot.AsignKHSXdata();

            // Add new KHSX to DB
            (int khsxID, string addkhsxError) = SQLServerServices.InsertNewKHSX(generLot.NewKHSX);

            if (khsxID > 0)
            {
                // Asign id for new KHSX
                generLot.NewKHSX.KHSXID.Value = khsxID;

                bool addNVLofKHSXok = true;

                // Asign KHSX id for NVLofKHSX List
                foreach (var nvl in generLot.NewKHSX.DSachNVLofKHSXs)
                {
                    nvl.KHSXID.Value = khsxID;

                    // Insert NVL of KHSX
                    (int nvlkhsxid, string er) = SQLServerServices.InsertNVLofKHSX(nvl);

                    if (nvlkhsxid <= 0)
                    {
                        // Remove KHSX if error
                        await DeleteKehoachSanxuat();

                        await DialogService.Alert($"{er}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });

                        addNVLofKHSXok = false;

                        break;
                    }
                }

                if (!addNVLofKHSXok) { return; }

                // Add new Cong doan to DB
                foreach (var congdoan in generLot.NewKHSX.DSachCongDoans.Where(cd => cd.IsUsing == true).ToList())
                {
                    bool errorFlag = false;

                    congdoan.KHSXID.Value = khsxID;

                    congdoan.CreateDSachNVLCongDoans(generLot.ListTempLOT_NVLs);

                    // Insert Congdoan vao KHSX
                    (int ncofkhsxid, string addcdError) = SQLServerServices.InsertCongdoantoKehoachSanxuat(congdoan);

                    if (ncofkhsxid <= 0)
                    {
                        // Remove KHSX if error
                        await DeleteKehoachSanxuat();

                        await DialogService.Alert($"{addcdError}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });

                        errorFlag = true; break;
                    }
                    else
                    {
                        // add nvl moi cong doan
                        foreach (var nvlmoicd in congdoan.DSachNVLCongDoans)
                        {
                            nvlmoicd.NCIDofKHSX.Value = ncofkhsxid;

                            nvlmoicd.NgayXuat.Value = DateTime.Now;

                            // Insert NVL cho moi congdoan
                            (int nvlmcdID, string addnvlmcdError) = SQLServerServices.InsertNVLmoiCongdoan(nvlmoicd);

                            if (nvlmcdID <= 0)
                            {
                                // Remove KHSX if error
                                await DeleteKehoachSanxuat();

                                await DialogService.Alert($"{addnvlmcdError}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });

                                errorFlag = true; break;
                            }
                            else
                            {
                                // add calam viec
                                nvlmoicd.CaNgay.NVLMCDID.Value = nvlmcdID;

                                (int casangID, string addcasangError) = SQLServerServices.InsertNVLmoiCongdoanCalamviec(nvlmoicd.CaNgay);

                                nvlmoicd.CaDem.NVLMCDID.Value = nvlmcdID;

                                (int cantoiID, string addcatoiError) = SQLServerServices.InsertNVLmoiCongdoanCalamviec(nvlmoicd.CaDem);
                            }

                            if (errorFlag) { break; }
                        }
                    }

                    if (errorFlag) { break; }
                }

                // Insert danh sach LOTKHSX
                await CreateDSLOT_KHSX(khsxID);
            }
            else
            {
                await DialogService.Alert($"{addkhsxError}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
            }
        });

        isAddingLSXtodatabase = false;

        DialogService.Close(generLot.NewKHSX);
    }

    private async Task CreateDSLOT_KHSX(object? khsxid)
    {
        if (generLot.ListTempLOT_NVLs != null && generLot.ListTempLOT_NVLs.Any() && generLot.NewKHSX.DSachCongDoans.Any())
        {
            List<KHSX_LOT> dsahLOTkhsx = new();

            foreach (var lotnvl in generLot.ListTempLOT_NVLs)
            {
                foreach (var congdoan in generLot.NewKHSX.DSachCongDoans.Where(cd => cd.IsUsing == true).ToList())
                {
                    KHSX_LOT lot_Khsx = new()
                        {
                            KHSXID = { Value = khsxid },
                            MaQuanLyLot = { Value = lotnvl.MaQuanLy.Value },
                            NCID = { Value = congdoan.NCID.Value },
                            SLLOT = { Value = lotnvl.SoLuong.Value },
                            NgayNhapKho = { Value = lotnvl.NgayNhap.Value }
                        };

                    dsahLOTkhsx.Add(lot_Khsx);
                }

            }

            if (dsahLOTkhsx.Any())
            {
                // Insert dslotkhsx to DB
                foreach (var lotkhsx in dsahLOTkhsx)
                {
                    (int result, string error) = SQLServerServices.InsertLOT_khsx(lotkhsx);

                    if (result == -1)
                    {
                        await DeleteKehoachSanxuat();
                        break;
                    }
                }
            }
        }
    }

}