@page "/mmtbmanagement"
@attribute [Authorize(Roles = "Admin, User")]
@* this limited access into page *@

@using ProcessManagement.Commons
@using ProcessManagement.Models
@using ProcessManagement.Models.MAYMOC
@using ProcessManagement.Pages.Manager_MayMoc.Dialogs
@using ProcessManagement.Services.QRCodes
@using ProcessManagement.Services.SQLServer
@using Radzen.Blazor
@using Radzen

@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SQLServerServices SQLServerServices
@inject QRCodeServices QRCodeServices
@inject IJSRuntime JSRuntime

<RadzenRow Gap="0" Style="height: 100%; width: 100%; overflow-y: auto; background-color: white; border-radius: 10px;">
    <RadzenColumn Size="12" SizeMD="12" Style="height: 100%; width: 100%; padding-right: 0">
        <RadzenTabs Style="width: 100%; height: 100%; padding-right: 0">
            <Tabs>
                <RadzenTabsItem Selected="true" Text="Quản lý máy móc/Thiết bị">
                    <RadzenCard Variant="Variant.Flat" Style="height: contain; width: 100%; padding-top: 15px">
                        <RadzenStack Gap="5" Style="height: contain; width: 100%;">
                            <!--Danh sach may moc-->
                            <RadzenRow Gap="10px" Style="height: contain; width: 100%; border-top: var(--rz-grid-cell-border); padding: 0;">
                                <!--Column bang danh sach may moc-->
                                <RadzenColumn Size="12" SizeMD="7" Style="height: contain; width: 100%; padding-top: 5px;">
                                    <!--Header infor-->
                                    <RadzenStack Gap="20px" Style="height: contain; width: 100%; padding-bottom: 5px; border-bottom: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                        <RadzenStack Visible="@(DSachMayMocs.Count > 0)" Gap="10px" Style="height: contain; width: contain; padding: 10px; padding-left: 0" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                            <RadzenText Text="Danh sách máy móc/thiết bị" Style="font-weight: 600; height: contain; width: contain; font-style: italic; color: darkred"></RadzenText>
                                        </RadzenStack>
                                        <RadzenStack Gap="10px" Style="height: 100%; width: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                            <RadzenStack Gap="10px" Style="height: 100%; width: contain; padding-right: 10px; border-right: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                <RadzenText Text="@($"Loại máy móc/thiết bị:")" Style="color: black; height: contain; width: contain; font-size: 15px"></RadzenText>
                                            </RadzenStack>
                                            <RadzenStack Gap="10px" Style="height: 100%; width: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                <RadzenText Text="@($"Tổng số lượng: ")" Style="color: black;  height: contain; width: contain; font-size: 15px"></RadzenText>
                                                <RadzenText Text="@($"{DSachMayMocs?.Count?? 0}")" Style="color: black; font-weight: 600; font-size: 15px; height: contain; width: contain"></RadzenText>
                                            </RadzenStack>
                                        </RadzenStack>
                                        <!--Button them may moc moi-->
                                        <RadzenStack Style="height: 100%; width: contain; padding-left: 10px; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                            <RadzenButton Click="OnThemMoiMayMoc" MouseEnter="@(args => ShowToolTip(args, TooltipPosition.Bottom, "Thêm máy móc mới"))" Icon="add" Text="Thêm máy móc mới" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Shade="Shade.Lighter"
                                                          Style="height: contain; width: contain; font-size: 14px;" />
                                        </RadzenStack>
                                    </RadzenStack>
                                    <RadzenStack Visible="@(DSachMayMocs?.Count == 0)" Gap="20px" Style="height: contain; width: 100%; background-color: var(--rz-primary-lighter); padding: 10px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                        <RadzenText Text="Hãy chọn loại máy móc/thiết bị" Style="color: red; font-weight: 500; font-size: 16px"></RadzenText>
                                    </RadzenStack>

                                    <!--Datagrid danh sach may moc-->
                                    <RadzenStack Visible="@(DSachMayMocs?.Count > 0)" Style="height: 450px; width: 100%; padding-top: 10px;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                        <RadzenDataGrid class="rz-grid-table-fixed-2" Data="@(DSachMayMocs)" TItem="MayMoc"
                                                        EmptyText="Danh sách máy móc trống." Style="padding-right: 0;"
                                                        ShowColumnTitleAsTooltip="true" ShowCellDataAsTooltip="true"
                                                        AllowFiltering="false" FilterMode="FilterMode.Simple"
                                                        AllowPaging="true" AllowSorting="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" PagerPosition="PagerPosition.Bottom"
                                                        GridLines="DataGridGridLines.Both" PageSize="10" Density="Density.Default"
                                                        HeaderCellRender="@(args => args.Attributes.Add("style", $"background-color: rgba(58, 71, 77)"))"
                                                        CellRender="@OnCellRender" Value="@DatagridSeleted" ValueChanged="@((args) => OnDatagridSelectChanged(args))">
                                            <Columns>
                                                @if (DSachMayMocs?.Count > 0)
                                                {
                                                    List<Propertyy> columns = DSachMayMocs.FirstOrDefault()?.GetPropertiesValues() ?? new();

                                                    <RadzenDataGridColumn Width="50px" Frozen="true" FrozenPosition="FrozenColumnPosition.Left" Filterable="false"
                                                                          TItem="MayMoc" Title="#"
                                                                          Property="STT" TextAlign="TextAlign.Center">
                                                        <HeaderTemplate>
                                                            <span style="font-weight: 600; font-size: 15px; color: white">STT</span>
                                                        </HeaderTemplate>
                                                        <Template Context="may">
                                                            <span style="font-weight: bold;">@(DSachMayMocs.IndexOf(may) + 1)</span>
                                                        </Template>
                                                    </RadzenDataGridColumn>

                                                    foreach (var column in columns.Where(cl => cl.DispDatagrid == true).ToList())
                                                    {
                                                        string colName = column.DBName ?? string.Empty;
                                                        string displayName = column.DisplayName ?? string.Empty;

                                                        if (colName != Common.TenNVL)
                                                        {
                                                            <RadzenDataGridColumn Width="contain" TItem="MayMoc" Title="@displayName"
                                                                                  Property="@colName" TextAlign="TextAlign.Center">
                                                                <HeaderTemplate>
                                                                    <span style="font-weight: 600; font-size: 15px; color: white">@displayName</span>
                                                                </HeaderTemplate>
                                                                <Template Context="may">

                                                                    @if (colName == Common.MM_NgaySuDung)
                                                                    {
                                                                        string dayvalue = string.Empty;

                                                                        if (column.Value != DBNull.Value && column.Value != null)
                                                                        {
                                                                            dayvalue = Convert.ToDateTime(may.GetPropertyValue(colName)).ToString("dd-MM-yyyy");
                                                                        }

                                                                        <span style="color: black; font-weight: 500;">@(dayvalue)</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span style="color: black; font-weight: 500;">@(may.GetPropertyValue(colName))</span>
                                                                    }
                                                                </Template>
                                                            </RadzenDataGridColumn>
                                                        }
                                                    }

                                                    <RadzenDataGridColumn Width="60px" TItem="MayMoc" Title="#ID" Frozen="true"
                                                                          Property="#ID" TextAlign="TextAlign.Center">
                                                        <HeaderTemplate>
                                                            <span style="font-weight: 600; font-size: 15px; color: white">#ID</span>
                                                        </HeaderTemplate>
                                                        <Template Context="may">
                                                            <span style="color: black; font-weight: 500;">@($"#{may.GetPropertyValue(Common.MM_MMID)}")</span>
                                                        </Template>
                                                    </RadzenDataGridColumn>

                                                }
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenStack>
                                </RadzenColumn>

                            </RadzenRow>
                        </RadzenStack>
                    </RadzenCard>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenColumn>
</RadzenRow>

@code {
    private List<MayMoc> DSachMayMocs = new();
    private MayMoc SelectedMayMoc = new();
    private IList<MayMoc>? DatagridSeleted;

    private DateTime startSearchDay = DateTime.Today;
    private DateTime endSearchDay = DateTime.Today;
    private string pagingSummaryFormat = "Displaying page {0} of {1} <b>(total {2} records)</b>";






    // Them moi may moc
    private async Task OnThemMoiMayMoc()
    {
        await DialogService.OpenAsync<DialogAddnewMayMoc>(null, new Dictionary<string, object>() { { "SelectedLoaiMayMoc", SelectedLoaiNVL ?? new() } },
        new DialogOptions() { ShowTitle = false, Width = "50%", Height = "95%", Resizable = false, Draggable = false, ShowClose = false, Style = "background-color: while; border-radius: 0px; padding: 0px" });

        LoadList_LoaiNVL();
    }

    // Tooltip
    void ShowToolTip(ElementReference elementReference, TooltipPosition position, string content)
    {
        TooltipOptions options = new TooltipOptions() { Position = position, Delay = 500, Style = "background-color: black" };

        TooltipService.Open(elementReference, content, options);
    }

    // Datagrid selected changed event
    private void OnDatagridSelectChanged(IList<MayMoc> selectedMayMoc)
    {
        DatagridSeleted = selectedMayMoc;

        var fistItemSelectedMayMoc = DatagridSeleted.FirstOrDefault();

        if (fistItemSelectedMayMoc != null)
        {
            SelectedMayMoc = fistItemSelectedMayMoc;
        }
    }

    private void OnCellRender(DataGridCellRenderEventArgs<MayMoc> args)
    {
        if (args.Column.Property.Contains("ID"))
        {
            args.Attributes.Add("style", $"font-weight: bold;");
        }
    }
}
