@using ProcessManagement.Commons
@using ProcessManagement.Models.KHO_NVL
@using ProcessManagement.Models.KHO_NVL.NhapKho
@using ProcessManagement.Services.QRCodes
@using ProcessManagement.Services.SQLServer
@using Radzen.Blazor
@using Radzen
@using ProcessManagement.Models;

@inject DialogService DialogService
@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject SQLServerServices SQLServerServices
@inject QRCodeServices QRCodeServices
@inject IJSRuntime JSRuntime

<style>
    .rz-grid-table {
        width: unset;
    }
</style>

<RadzenCard Variant="Variant.Filled" Style="height: 100%; width: 100%; padding: 10px;">
    <RadzenStack Gap="10px" Orientation="Orientation.Vertical" Style=" height: 100%; width: 100%; padding: 0px; padding-bottom: 10px " AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
        <!--Header Phieu Nhap Kho-->
        <RadzenStack Gap="10px" Style="height: contain; width: 100%; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Gap="5px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                <RadzenStack Gap="5px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                    <RadzenText Text="@($"Mã phiếu:")" Style="font-weight: 600; font-size: 15px; font-style: italic;"></RadzenText>
                    <RadzenText Text="@($"{PNK.MaPhieuNK.Value?.ToString()}")" Style="font-weight: 600; font-size: 15px; font-style: italic; color: black;"></RadzenText>
                </RadzenStack>
                <RadzenStack Gap="5px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                    <RadzenText Text="@($"Người lập phiếu:")" Style="font-weight: 600; font-size: 15px; font-style: italic;"></RadzenText>
                    <RadzenText Text="@($"{PNK.NguoiLapPNK.Value?.ToString()}")" Style="font-weight: 600; font-size: 15px; font-style: italic; color: black;"></RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenStack Gap="20px" Style="height: contain; width: contain; padding: 10px; padding-left: 20px; padding-right: 20px; border-radius: 10px; border-bottom: var(--rz-series-1); " Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenText Text="CHI TIẾT PHIẾU NHẬP KHO" Style="color: black; font-weight: bold; font-size: 20px"></RadzenText>
            </RadzenStack>
            <RadzenStack Gap="5px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                <RadzenStack Gap="5px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                    <RadzenText Text="@($"Ngày lập phiếu:")" Style="font-weight: 600; font-size: 15px; font-style: italic;"></RadzenText>
                    <RadzenText Text="@($"{PNK.NgayLapPNK.Value?.ToString()}")" Style="font-weight: 600; font-size: 15px; font-style: italic; color: black;"></RadzenText>
                </RadzenStack>
                <RadzenStack Gap="5px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Center">
                    <RadzenText Text="@($"Lệnh:")" Style="font-weight: 600; font-size: 15px; font-style: italic;"></RadzenText>
                    <RadzenText Text="@($"Nhập kho")" Style="font-weight: 600; font-size: 15px; font-style: italic; color: black;"></RadzenText>
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
        <RadzenRow class="rowbackground-style" Gap="10px" Style="height: 100%; width: 100%; padding-top: 10px; border-radius: 0; overflow-y: auto; border-top: var(--rz-grid-cell-border);">
            <!--Danh sach san pham nhap kho-->
            <RadzenColumn Size="12" SizeMD="5" Style="height: 100%; width: 100%; border-right: var(--rz-grid-cell-border); padding-right: 10px">
                <RadzenStack Gap="5px" Style="height: 100%; width: 100%;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                    <RadzenStack Visible="@(PNK.DSNVLofPNKs.Count > 0)" Gap="10px" Style="height: contain; width: 100%; padding: 0px; padding-left: 0" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                        <RadzenText Text="Danh sách nguyên liệu nhập kho" Style="font-weight: 600; height: contain; width: contain; font-style: italic; color: darkred"></RadzenText>
                        <RadzenText Text="@($"Tổng NVL cần nhập kho: {PNK.DSNVLofPNKs?.Sum(nvl => (int.TryParse(nvl.NVLNKSoLuongAll.Value?.ToString(), out int dm) ? dm : 0)) ?? 0} ({SelectedNVLofPNK.TargetNgLieu.DonViTinh.Value?.ToString()})")" Style="font-size: 16px; font-weight: 600; color: darkgreen; height: contain; width: contain"></RadzenText>
                    </RadzenStack>
                    <!--Table listNVL-->
                    <RadzenDataGrid class="rz-grid-table" Data="@(PNK.DSNVLofPNKs)" TItem="NVLofPhieuNhapKho"
                                    EmptyText="Danh sách nguyên liệu trống."
                                    ShowColumnTitleAsTooltip="true" ShowCellDataAsTooltip="true"
                                    AllowFiltering="false" FilterMode="FilterMode.Simple"
                                    AllowPaging="true" AllowSorting="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    ShowPagingSummary="true" PagerPosition="PagerPosition.Bottom" Style="padding-right: 5px; width: 100%"
                                    GridLines="DataGridGridLines.Both" PageSize="10" Density="Density.Compact" ColumnWidth="120px"
                                    HeaderCellRender="@(args => args.Attributes.Add("style", $"background-color: rgba(58, 71, 77); padding-left: 10px; padding-right: 10px"))"
                                    CellRender="@OnCellRender" Value="@DatagridSelectedNVLofPNK" ValueChanged="@((args) => OnDatagridSelectChanged(args))">
                        <Columns>
                            @{
                                List<Propertyy> columns = PNK.DSNVLofPNKs.FirstOrDefault()?.GetPropertiesValues() ?? new();

                                <!--Column ID-->
                                <RadzenDataGridColumn Width="50px" Frozen="true" FrozenPosition="FrozenColumnPosition.Left" Filterable="false"
                                                      TItem="NVLofPhieuNhapKho" Title="#"
                                                      Property="STT" TextAlign="TextAlign.Center">
                                    <HeaderTemplate>
                                        <span style="font-weight: 600; font-size: 15px; color: white">STT</span>
                                    </HeaderTemplate>
                                    <Template Context="nvl">
                                        <span style="font-weight: bold;">@(PNK.DSNVLofPNKs.IndexOf(nvl) + 1)</span>
                                    </Template>
                                </RadzenDataGridColumn>

                                <!--Column TenNVL-->
                                <RadzenDataGridColumn TItem="NVLofPhieuNhapKho" Title="Tên nguyên vật liệu"
                                                      Property="tennvl" TextAlign="TextAlign.Center">
                                    <HeaderTemplate>
                                        <span style="font-weight: 600; font-size: 15px; color: white">Tên NVL</span>
                                    </HeaderTemplate>
                                    <Template Context="nvl">
                                        <span style="color: black; font-weight: bold;">@($"{nvl?.TargetNgLieu.TenNVL.Value?.ToString()}")</span>
                                    </Template>
                                    <FooterTemplate>
                                        <span style="color: black; font-weight: bold; font-size: 16px;">Tổng</span>
                                    </FooterTemplate>
                                </RadzenDataGridColumn>

                                <!--Column SL can nhap-->
                                <RadzenDataGridColumn TItem="NVLofPhieuNhapKho" Title="Số lượng nhập kho"
                                                      Property="slnhapkho" TextAlign="TextAlign.Center">
                                    <HeaderTemplate>
                                        <span style="font-weight: 600; font-size: 15px; color: white">SL nhập</span>
                                    </HeaderTemplate>
                                    <Template Context="nvl">
                                        <span style="color: black; font-weight: bold;">@($"{nvl?.NVLNKSoLuongAll.Value?.ToString()} ({nvl?.TargetNgLieu.DonViTinh.Value?.ToString()})")</span>
                                    </Template>
                                    <FooterTemplate>
                                        <span style="color: black; font-weight: bold; font-size: 16px;">@($"{PNK.DSNVLofPNKs?.Sum(nvl => (int.TryParse(nvl.NVLNKSoLuongAll.Value?.ToString(), out int dm) ? dm : 0))}")</span>
                                    </FooterTemplate>
                                </RadzenDataGridColumn>

                                <!--Column TonKhoNVL-->
                                <RadzenDataGridColumn TItem="NVLofPhieuNhapKho" Title="Tồn kho"
                                                      Property="tonkho" TextAlign="TextAlign.Center">
                                    <HeaderTemplate>
                                        <span style="font-weight: 600; font-size: 15px; color: white">Tồn kho</span>
                                    </HeaderTemplate>
                                    <Template Context="nvl">
                                        <RadzenText Text="(Xem)" @onclick="@(() => OnOpenDialogXemChitietNVL(nvl.TargetNgLieu))" Style="font-size: 14px; font-weight: 600; height: contain; color: Highlight; font-style: italic; cursor: pointer"></RadzenText>
                                    </Template>
                                </RadzenDataGridColumn>

                                <!--Column trang thai nhap kho-->
                                <RadzenDataGridColumn TItem="NVLofPhieuNhapKho" Title="Trạng thái" Frozen="false"
                                                      Property="trangthai" TextAlign="TextAlign.Center">
                                    <HeaderTemplate>
                                        <span style="font-weight: 600; font-size: 15px; color: white">Trạng thái</span>
                                    </HeaderTemplate>
                                    <Template Context="nvl">
                                        @{
                                            if (nvl.IsNhapKhoDone)
                                            {
                                                <RadzenButton Icon="check" Text="Done" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Shade="Shade.Darker" Variant="Variant.Outlined"
                                                              Style="border-radius: 5px; --rz-icon-size: 18px; height: 30px; width: 100%; cursor: default; background-color: rgb(229,245,233);" />
                                            }
                                            else
                                            {
                                                <RadzenButton Text="Not done" ButtonStyle="ButtonStyle.Warning" Size="ButtonSize.Small" Shade="Shade.Darker" Variant="Variant.Outlined"
                                                              Style="border-radius: 5px; --rz-icon-size: 18px; height: 30px; width: 100%; cursor: default; background-color: rgb(254,243,220);" />
                                            }
                                        }

                                    </Template>
                                </RadzenDataGridColumn>
                            }
                        </Columns>
                    </RadzenDataGrid>
                    <!--Ngay nhap kho-->
                    <RadzenStack Gap="0" Style="height: contain; width: 100%; padding-left: 10px; padding-bottom: 5px; padding-top: 15px; border-bottom: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                        <RadzenStack Style="width: 35%;">
                            <RadzenText Text="Ngày nhập kho" Style="font-size: 16px; font-weight: 500; height: contain; width: 100% "></RadzenText>
                        </RadzenStack>
                        <RadzenStack Style="width: 65%; height: 100%; padding-left: 20px; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                            <RadzenText Text="@PNK.NgayLapPNK.Value?.ToString()" Style="font-size: 16px; font-weight: 600; color: black; height: contain; width: 100% "></RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                    <!--Nguoi nhap kho-->
                    <RadzenStack Gap="0" Style="height: contain; width: 100%; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; border-bottom: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                        <RadzenStack Style="width: 35%;">
                            <RadzenText Text="Người nhập kho" Style="font-size: 16px; font-weight: 500; height: contain; width: 100% "></RadzenText>
                        </RadzenStack>
                        <RadzenStack Style="width: 65%; height: 100%; padding-left: 20px; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                            <RadzenText Text="@PNK.NguoiLapPNK.Value?.ToString()" Style="font-size: 16px; font-weight: 600; color: black; height: contain; width: 100% "></RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                    <!--Phieu nhap kho ghi chu-->
                    <RadzenStack Gap="0" Style="height: contain; width: 100%; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; border-bottom: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                        <RadzenStack Style="width: 35%;">
                            <RadzenText Text="Ghi chú" Style="font-size: 16px; font-weight: 500; height: contain; width: 100% "></RadzenText>
                        </RadzenStack>
                        <RadzenStack Style="width: 65%; height: 100%; padding-left: 20px; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                            <RadzenText Text="@PNK.GhiChuPNK.Value?.ToString()" Style="font-size: 16px; font-weight: 600; color: black; height: contain; width: 100% "></RadzenText>
                        </RadzenStack>
                    </RadzenStack>

                    <RadzenStack Gap="10px" Style="height: contain; width: 100%; padding: 5px;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                        <RadzenStack Gap="20px" Style="height: contain; width: 100%; border-radius: 5px; background-color: var(--rz-secondary-lighter); padding: 5px; padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                            <RadzenText Text="@($"Scan mã phiếu: ")" Style="font-weight: 600; font-size: 16px; color: black;"></RadzenText>
                            <RadzenStack Gap="10" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenText Text="@($"{PNK.MaPhieuNK.Value?.ToString()}")" Style="font-weight: 600; font-size: 18px; color: darkblue;"></RadzenText>
                                <RadzenButton Click="@(() => CopyToClipboard(PNK.MaPhieuNK.Value?.ToString()?? string.Empty))" Icon="content_copy" Style="--rz-icon-size: 18px;" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Light" />
                            </RadzenStack>
                        </RadzenStack>
                        <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: contain; padding: 5px; border-radius: 0">
                            <RadzenStack Style="height: contain; width: contain" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                @{
                                    string qrBase64string = QRCodeServices.GenerateQRCode(PNK.MaPhieuNK.Value?.ToString() ?? string.Empty, 120);
                                    <img style="border-radius: 10px;" src="@($"data:image/png;base64,{qrBase64string}")" alt="QR Code">
                                }
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenStack>

                </RadzenStack>
            </RadzenColumn>
            <!--Chi dinh so luong nhap kho moi NVL-->
            <RadzenColumn Size="12" SizeMD="7" Style="height: 100%; width: 100%;">
                <RadzenRow Visible="@(SelectedNVLofPNK.NVLID.Value != null && PNK.DSNVLofPNKs.Count > 0)" class="rowbackground-style" Gap="10px" Style="height: 100%; width: 100%; border-radius: 0; overflow: scroll">
                    <RadzenColumn Size="12" SizeMD="12" Style="height: contain; width: 100%;">
                        <RadzenStack Gap="0" Style="height: 100%; width: 100%; padding: 0px; padding-top: 30px; border-radius: 10px;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                            <RadzenStack Visible="@(PNK.DSNVLofPNKs.Count > 0)" Gap="10px" Style="height: contain; width: 100%; padding: 0px; padding-left: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                <RadzenText Text="Danh sách lệnh nhập kho của nguyên liệu" Style="color: darkred; font-weight: 600; font-size: 16px; height: contain; width: contain; font-style: italic;"></RadzenText>
                                <RadzenText Text="@($"(nguyên liệu {SelectedNVLofPNK.TargetNgLieu.TenNVL.Value?.ToString()})")" Style="color: black; font-weight: 600; font-size: 16px; height: contain; width: contain; font-style: italic;"></RadzenText>
                            </RadzenStack>
                            <!--Tong so luong nhap kho-->
                            <RadzenStack Gap="15px" Style="height: contain; width: 100%; padding: 10px; padding-bottom: 5px; margin-top: 10px; border-top: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                <RadzenStack Gap="10px" Style="height: contain; width: contain; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                    <RadzenText Text="Tổng nhập kho" Style="font-size: 16px; font-weight: 600; height: contain; width: contain "></RadzenText>
                                    <RadzenText Text="@($"(nguyên liệu {SelectedNVLofPNK.TargetNgLieu.TenNVL.Value?.ToString()})")" Style="color: black; font-weight: 600; font-size: 16px; height: contain; width: contain; font-style: italic;"></RadzenText>
                                </RadzenStack>
                                <RadzenStack Style="width: 30%; height: 100%; padding-left: 10px; border-left: var(--rz-grid-cell-border);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenText Text="@($"{SelectedNVLofPNK.NVLNKSoLuongAll.Value?.ToString()} ({SelectedNVLofPNK.TargetNgLieu.DonViTinh.Value?.ToString()})")" Style="font-size: 18px; font-weight: 600; color: darkgreen; height: contain; width: 100% "></RadzenText>
                                </RadzenStack>
                            </RadzenStack>
                            <RadzenStack Visible="@(int.Parse(SelectedNVLofPNK.NVLNKSoLuongAll.Value?.ToString()?? "0") > 0)" Gap="10px" Style="height: contain; width: 100%; padding: 10px; padding-bottom: 0" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                <RadzenButton Visible=@(!SelectedNVLofPNK.IsNhapKhoDone) Text="Chưa nhập đủ số lượng cần nhập kho của nguyên liệu" ButtonStyle="ButtonStyle.Warning" Size="ButtonSize.Small" Shade="Shade.Darker" Variant="Variant.Outlined"
                                              Style="border-radius: 5px; --rz-icon-size: 18px; height: 20px; width: 100%; cursor: default; background-color: rgb(254,243,220);" />
                                <RadzenButton Visible=@(SelectedNVLofPNK.IsNhapKhoDone) Icon="check" Text="Đã nhập đủ số lượng cần nhập kho của nguyên liệu" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Shade="Shade.Darker" Variant="Variant.Outlined"
                                              Style="border-radius: 5px; --rz-icon-size: 18px; height: 20px; width: 100%; cursor: default; background-color: rgb(229,245,233);" />
                            </RadzenStack>
                            <RadzenStack Style="height: 100%; width: 100%; padding: 5px; padding-left: 10px; padding-right: 10px; margin-top: 5px" Gap="5px" Orientation="Orientation.Vertical">
                                <RadzenStack Style="width: 100%; height: contain; padding: 0" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                    <RadzenCard Variant="Variant.Outlined" Style="height: contain; width: 100%; padding: 10px; margin-bottom: 10px">
                                        <RadzenStack Gap="5px" Orientation="Orientation.Vertical" Style=" height: contain; width: 100%; padding: 0px;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                            <RadzenStack Gap="20px" Style="height: contain; width: 100%; padding: 5px; padding-right: 10px; padding-left: 10px; background-color: var(--rz-primary-lighter);" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                                <RadzenText Text="Vị trí nhập kho" Style="color: black; font-weight: 500; font-size: 16px"></RadzenText>
                                            </RadzenStack>
                                            <RadzenStack Gap="5px" Orientation="Orientation.Vertical" Style=" height: contain; width: 100%; padding-right: 0;" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: contain; padding: 5px; padding-right: 0px; background-color: rgb(58, 71, 77)">
                                                    <RadzenStack Style="width: 100%; height: contain; " Gap="10px" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                        <RadzenStack Style="width: 3%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="#" Style="color: white; font-weight: 500; font-size: 14px"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Style="width: 20%; height: contain; padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="Mã vị trí" Style="color: white; font-weight: 500; font-size: 16px"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Style="width: 15%; height: contain; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="LOT vị trí" Style="color: white; font-weight: 500; font-size: 16px"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Style="width: 20%; height: contain; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="SL nhập" Style="color: white; font-weight: 500; font-size: 16px"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Style="width: 20%; height: contain; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="Ngày nhập" Style="color: white; font-weight: 500; font-size: 16px"></RadzenText>
                                                        </RadzenStack>
                                                        <RadzenStack Style="width: 20%; height: contain; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            <RadzenText Text="Thực hiện" Style="color: white; font-weight: 500; font-size: 16px"></RadzenText>
                                                        </RadzenStack>
                                                    </RadzenStack>
                                                </RadzenCard>

                                                @if (SelectedNVLofPNK.DSLenhNKs.Count > 0)
                                                {
                                                    foreach (var lnk in SelectedNVLofPNK.DSLenhNKs)
                                                    {
                                                        ViTriofNVL viTriofNVL = SQLServerServices.GetViTriOfNgVatLieuByNVLid_VTid(lnk.NVLID.Value, lnk.VTID.Value);

                                                        int SLnvlhiencoTaivitri = int.TryParse(viTriofNVL?.VTNVLSoLuong.Value?.ToString(), out int slhc) ? slhc : 0;
                                                        int SLLNkhoPUT = int.TryParse(lnk.LNKSoLuong.Value?.ToString(), out int slput) ? slput : 0;

                                                        <RadzenCard Variant="Variant.Outlined" Style="width: 100%; height: contain; padding: 7px; padding-right: 0px; background-color: white">
                                                            <RadzenStack Style="width: 100%; height: contain" Gap="10px" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                                <RadzenStack Style="width: 3%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenText Text="@($"{(SelectedNVLofPNK.DSLenhNKs.IndexOf(lnk) + 1).ToString()}")" Style="color: black; font-weight: 600; font-size: 14px"></RadzenText>
                                                                </RadzenStack>
                                                                <RadzenStack Style="width: 20%; height: contain; border-left: var(--rz-grid-cell-border); border-right: var(--rz-grid-cell-border); padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenStack Style="height: contain; min-height: 35px; width: 100%; border-radius: 5px; background-color: var(--rz-secondary-lighter); padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@($"{lnk.TargertVitri.MaViTri.Value?.ToString()}")" Style="color: black; font-weight: 600; font-size: 15px"></RadzenText>
                                                                    </RadzenStack>
                                                                </RadzenStack>
                                                                <RadzenStack Style="width: 15%; height: contain; border-right: var(--rz-grid-cell-border); padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenStack Style="height: contain; min-height: 35px; width: 100%; border-radius: 5px; background-color: var(--rz-secondary-lighter); padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@($"{lnk.LotVitri.Value?.ToString()}")" Style="color: black; font-weight: 600; font-size: 15px"></RadzenText>
                                                                    </RadzenStack>
                                                                </RadzenStack>
                                                                <RadzenStack Style="width: 20%; height: contain; border-right: var(--rz-grid-cell-border); padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenStack Style="height: contain; min-height: 35px; width: 100%; border-radius: 5px; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@($"{lnk.LNKSoLuong.Value?.ToString()} ({SelectedNVLofPNK.TargetNgLieu.DonViTinh.Value?.ToString()})")" Style="color: darkgreen; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                </RadzenStack>
                                                                <RadzenStack Style="width: 20%; height: contain; border-right: var(--rz-grid-cell-border); padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenStack Style="height: contain; min-height: 35px; width: 100%; border-radius: 5px; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                        <RadzenText Text="@($"{lnk.NgayNhapKho.Value?.ToString()}")" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                    </RadzenStack>
                                                                </RadzenStack>
                                                                <RadzenStack Style="width: 20%; height: contain; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    @{
                                                                        int islnkDone = int.TryParse(lnk.LNKIsDone.Value?.ToString(), out int lnkd) ? lnkd : 0;

                                                                        if (islnkDone == 1)
                                                                        {
                                                                            <RadzenButton Icon="check" Text="Done" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Shade="Shade.Dark" Variant="Variant.Text"
                                                                                          Style="font-size: 18px; height: contain; min-height: 35px; width: 100%; cursor: default;" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <RadzenButton Text="Nhập" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Shade="Shade.Darker" Variant="Variant.Flat"
                                                                                          Click="@(() => OnOpenDialogHandleLenhNhapKho(lnk))" Icon="download"
                                                                                          Style="border-radius: 5px; --rz-icon-size: 18px; font-size: 14px; height: contain; min-height: 35px; width: 100%;" />
                                                                        }
                                                                    }
                                                                </RadzenStack>
                                                            </RadzenStack>
                                                        </RadzenCard>
                                                    }

                                                    <RadzenCard Variant="Variant.Flat" Style="width: 100%; height: contain; padding: 0px; padding-right: 0px;">
                                                        <RadzenStack Style="width: 100%; height: contain" Gap="10px" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                            <RadzenStack Style="width: 3%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            </RadzenStack>

                                                            <RadzenStack Style="width: 20%; height: contain; border-left: var(--rz-grid-cell-border); border-right: var(--rz-grid-cell-border); padding-left: 10px; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                            </RadzenStack>

                                                            <RadzenStack Style="width: 15%; height: contain; padding-right: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenStack Style="height: contain; min-height: 35px; width: 100%; border-radius: 5px; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                    <RadzenText Text="Tổng" Style="color: black; font-weight: 600; font-size: 16px"></RadzenText>
                                                                </RadzenStack>
                                                            </RadzenStack>

                                                            <RadzenStack Style="width: 40%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                                <RadzenStack Style="height: contain; min-height: contain; min-height: 35px; width: 100%; border-radius: 5px; padding: 10px; padding-left: 0" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                                    <RadzenText Text="@($"{(SelectedNVLofPNK.DSLenhNKs.Sum(lnk => int.TryParse(lnk.LNKSoLuong.Value?.ToString(), out int lxksl)? lxksl : 0))} ({SelectedNVLofPNK.TargetNgLieu.DonViTinh.Value?.ToString()})")" Style="color: darkgreen; font-weight: 600; font-size: 16px"></RadzenText>
                                                                </RadzenStack>
                                                            </RadzenStack>
                                                        </RadzenStack>
                                                    </RadzenCard>
                                                }
                                                else
                                                {
                                                    <RadzenStack Style="width: 100%; height: contain; " Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                        <RadzenText Text="Nguyên liệu chưa chỉ định vị trí lưu kho" Style="font-size: 16px; font-weight: 500; height: contain; color: red"></RadzenText>
                                                    </RadzenStack>
                                                }
                                            </RadzenStack>
                                        </RadzenStack>
                                    </RadzenCard>
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
</RadzenCard>

@code {

    [Parameter]
    public PhieuNhapKho PNK { get; set; } = new();

    private IList<NVLofPhieuNhapKho> DatagridSelectedNVLofPNK = new List<NVLofPhieuNhapKho>();

    private NVLofPhieuNhapKho SelectedNVLofPNK = new();

    protected override void OnParametersSet()
    {
        SelectedNVLofPNK = PNK.DSNVLofPNKs.FirstOrDefault() ?? new();

        DatagridSelectedNVLofPNK = new List<NVLofPhieuNhapKho>() { SelectedNVLofPNK };

        // Kiem tra tong so luong chi dinh bang tong so luong can lay
        foreach (var nvlofpnk in PNK.DSNVLofPNKs)
        {
            nvlofpnk.IsChidinhDuSoluongNhapKho = IsChidinhDuSoLuongNhapKho(nvlofpnk);
        }

        base.OnParametersSet();
    }

    private bool IsChidinhDuSoLuongNhapKho(NVLofPhieuNhapKho nvlofpnk)
    {
        bool isSlgAsigned = false;

        int sumsoluongInput = nvlofpnk.DSLenhNKs.Sum(lenh => int.TryParse(lenh.LNKSoLuong.Value?.ToString(), out int slt) ? slt : 0);

        int slallNVLnhapkho = int.TryParse(nvlofpnk.NVLNKSoLuongAll.Value?.ToString(), out int slall) ? slall : 0;

        if (slallNVLnhapkho > 0 && sumsoluongInput == slallNVLnhapkho)
        {
            isSlgAsigned = true;
        }

        return isSlgAsigned;
    }

    // Dialog xem chi tiet NVL
    private async Task OnOpenDialogXemChitietNVL(NguyenVatLieu nguyenVatLieu)
    {
        await DialogService.OpenAsync<Manager_NVL.Dialogs.DialogDetailsNguyenVatLieu>(null, new Dictionary<string, object>() { { "NgVLieu", nguyenVatLieu } },
        new DialogOptions() { ShowTitle = false, Width = "50%", Height = "contain", Resizable = false, Draggable = false, ShowClose = false, Style = "background-color: while; border-radius: 10px; padding: 0px" });
    }

    // Handle lenh nhap kho
    private async Task OnOpenDialogHandleLenhNhapKho(LenhNhapKho lnk)
    {
        await DialogService.OpenAsync<DialogHandle_LenhNhapKho>(null, new Dictionary<string, object>() { { "LNK", lnk }, { "PNK", PNK } },
        new DialogOptions() { ShowTitle = false, Width = "70%", Height = "contain", Resizable = true, Draggable = true, ShowClose = false, Style = "background-color: while; border-radius: 10px; padding: 0px;" });

        // Raise event reload ds phieu nhap kho
        Common.RaiseReloadPNK_Event();
    }

    // Datagrid cell render
    private void OnCellRender(DataGridCellRenderEventArgs<NVLofPhieuNhapKho> args)
    {
        if (args.Column.Property.Contains("ID"))
        {
            args.Attributes.Add("style", $"font-weight: bold;");
        }
    }

    // Datagrid selected changed event
    private void OnDatagridSelectChanged(IList<NVLofPhieuNhapKho> selectedNgvatlieu)
    {
        DatagridSelectedNVLofPNK = selectedNgvatlieu;

        SelectedNVLofPNK = DatagridSelectedNVLofPNK.FirstOrDefault() ?? new();
    }

    private async Task CopyToClipboard(string content)
    {
        try
        {
            // Try modern Clipboard API first
            await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", content);

            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Copied!",
                    Detail = $"{content}",
                    Duration = 4000
                });
        }
        catch (JSException)
        {
            try
            {
                // Fallback method
                await JSRuntime.InvokeVoidAsync("fallbackCopyToClipboard", content);

                NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Fallback Copied!",
                        Detail = $"{content}",
                        Duration = 4000
                    });
            }
            catch (Exception)
            {
                NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Failed to copy text",
                        Duration = 3000
                    });
            }
        }
    }
}
