@using ProcessManagement.Commons
@using ProcessManagement.Models.KHO_NVL.XuatKho
@using ProcessManagement.Models.KHO_TPHAM
@using ProcessManagement.Services.SQLServer
@using Radzen.Blazor
@using Radzen

@inject DialogService DialogService
@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject SQLServerServices SQLServerServices

<style>
    .pxkho_IsSelected {
        border-style: solid;
        border-width: 2px;
        border-color: green;
    }
</style>

<RadzenStack Style="height: contain; width: 100%; padding-bottom: 5px; padding-left: 10px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
    <RadzenRow Style="height: 100%; width: 100%;">
        <RadzenColumn SizeMD="3" Size="12">
            <RadzenStack Style="height: 100%; width: 100%; border-radius: 10px; background-color: var(--rz-success-lighter); padding: 10px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenText Text="KẾ HOẠCH XUẤT KHO THÀNH PHẨM" Style="color: green; font-weight: 600; font-size: 18px"></RadzenText>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn SizeMD="6" Size="12">
            <RadzenStack Gap="15px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="height: 100%; width: 100%;">
                <RadzenTextBox @oninput="@((args) => GetFilterDSachKHXuatKho(args?.Value?.ToString() ?? string.Empty))" Placeholder="Xuất mã phiếu xuất kho để tìm kiếm" Style="border-radius: 20px; padding-left: 20px; border-width: 2px; border-color: var(--rz-primary-light); width: 50% "></RadzenTextBox>
                <RadzenButton Icon="search" ButtonStyle="ButtonStyle.Primary" Style="border-radius: 20px;" />
                <RadzenButton Click="(async () => { await LoadDSachPhieuXuatKhoTPham(); ReSelectPhieuXuatKhoTPham(); })" Style="border-radius: 20px;" Icon="autorenew" ButtonStyle="ButtonStyle.Primary" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
<RadzenRow Gap="10px" Style="height: 100%; width: 100%; border-top: var(--rz-grid-cell-border); padding: 0;">
    <RadzenColumn Size="12" SizeMD="3" Style="height: contain; width: 100%;">
        <RadzenStack Gap="0px" Style="height: contain; width: 100%;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start">
            <RadzenStack Gap="10px" Style="height: contain; width: 100%; padding: 10px; padding-left: 10px; border-bottom: var(--rz-grid-cell-border) " Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                <RadzenText Text="Danh sách phiếu xuất kho" Style="color: darkred; font-weight: 600; font-size: 17px; height: contain; width: contain; font-style: italic;"></RadzenText>
                <RadzenText Text="@($"( {DSPhieuXKs.Count} phiếu )")" Style="color: black; font-weight: 600; font-size: 16px; height: contain; width: contain; font-style: italic;"></RadzenText>
            </RadzenStack>
            <RadzenStack Gap="10px" Style="height: contain; width: 100%;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                <RadzenDataList Style="height: contain; width: 100%;" PagerPosition="PagerPosition.Top" PageSize="3" WrapItems="true" AllowPaging="true" Data="@DSPhieuXKs" TItem="PhieuXuatKhoTPham">
                    <Template Context="pxk">
                        <RadzenCard Style="width: 100%; height: contain; padding: 0" Variant="Variant.Flat">
                            <RadzenCard class="@(IsPXKhoSelected(pxk))" Style="width: 100%; height: contain;" Variant="Variant.Filled">
                                <RadzenStack onclick="@(() => OnPhieuXuatKhoTPhamClick(pxk))" Style="width: 100%; height: 100%; padding: 0" Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                    <RadzenCard Variant="@((pxk.PXKTPID.Value?.Equals(SelectedPXK.PXKTPID.Value) ?? false) ? Variant.Flat : Variant.Outlined)" Style="height: 100%; width: 100%; padding: 10px;">
                                        <RadzenStack Style="width: 100%; height: 100%;" Gap="10px" Orientation=Orientation.Vertical AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                            <RadzenStack Gap="0" Style="width: 100%; height: contain; padding-bottom: 5px" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                                <RadzenStack Style="height: contain; width: contain; min-width: 30px; border-radius: 5px; background-color: var(--rz-primary-lighter); padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                    <RadzenText Text="@((DSPhieuXKs.IndexOf(pxk) + 1).ToString())" Style="color: rgba(58,71,77); font-weight: 600; font-size: 15px"></RadzenText>
                                                </RadzenStack>
                                                <RadzenStack Style="height: contain; width: contain; border-radius: 5px; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                    @if (pxk.isPXKDoneXuatKho)
                                                    {
                                                        <RadzenButton Text="Done" Icon="check" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Shade="Shade.Dark" Variant="Variant.Flat"
                                                                      Style="--rz-icon-size: 18px; width: 100%; cursor: default; font-weight: 600" />
                                                    }
                                                    else
                                                    {
                                                        <RadzenButton Text="Not done" ButtonStyle="ButtonStyle.Warning" Size="ButtonSize.Small" Shade="Shade.Dark" Variant="Variant.Outlined"
                                                                      Style="border-radius: 5px; --rz-icon-size: 18px; height: 20px; width: 100%; cursor: default; background-color: rgb(254,243,220); font-weight: 600" />
                                                    }
                                                </RadzenStack>
                                            </RadzenStack>
                                            <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                                <RadzenStack Style="width: 40%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                    <RadzenText Text="Mã phiếu: " Style="font-size: 16px; font-weight: 500; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                </RadzenStack>
                                                <RadzenStack Style="width: 60%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                                    <RadzenText Text="@($"{pxk.MaPhieuXK.Value?.ToString()}")" Style="color: darkblue; font-weight: 700; font-size: 18px"></RadzenText>
                                                </RadzenStack>
                                            </RadzenStack>
                                            <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                                <RadzenStack Style="width: 40%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                    <RadzenText Text="Người lập: " Style="font-size: 16px; font-weight: 500; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                </RadzenStack>
                                                <RadzenStack Style="width: 60%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                                    <RadzenText Text="@($"{pxk.NguoiLapPXK.Value?.ToString()}")" Style="font-size: 16px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                </RadzenStack>
                                            </RadzenStack>
                                            <RadzenStack Gap="0" Style="width: 100%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                                                <RadzenStack Style="width: 40%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                                                    <RadzenText Text="Ngày lập: " Style="font-size: 16px; font-weight: 500; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                </RadzenStack>
                                                <RadzenStack Style="width: 60%; height: contain;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                                    <RadzenText Text="@($"{pxk.NgayLapPXK.Value?.ToString()}")" Style="font-size: 16px; font-weight: 600; height: contain; color: rgba(58,71,77)"></RadzenText>
                                                </RadzenStack>
                                            </RadzenStack>
                                        </RadzenStack>
                                    </RadzenCard>
                                </RadzenStack>
                            </RadzenCard>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>
            </RadzenStack>
            <RadzenStack Visible="@(DSPhieuXKs.Count == 0)" Gap="10px" Style="height: contain; width: 100%; padding: 10px; padding-left: 10px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenText Text="Chưa có phiếu xuất kho nào" Style="color: red; font-weight: 600; font-size: 16px; height: contain; width: contain;"></RadzenText>
            </RadzenStack>
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="9" Style="height: contain; width: 100%; padding: 10px; border-left: var(--rz-grid-cell-border)">
        <RadzenStack Visible=@(DSPhieuXKs.Count > 0 && SelectedPXK.PXKTPID.Value != null) Gap="10px" Style="height: 100%; width: 100%; padding: 0px" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
            <RadzenStack Gap="10px" Style="height: 95%; width: 100%; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                <PhieuXuatKhoThanhPhamDetails PXK="SelectedPXK"></PhieuXuatKhoThanhPhamDetails>
            </RadzenStack>
            <RadzenStack Gap="10px" Style="height: contain; width: 100%; padding: 0px;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                <RadzenButton Visible="@(SelectedPXK.PXKTPID.Value != null)" Style="width: contain; min-width: 120px; height: contain;" Click="@(() => OnDeleteSelectedPhieuXuatKhoTPham())" MouseEnter="@(args => ShowToolTip(args, TooltipPosition.Bottom, "Xóa phiếu xuất kho"))"
                              Icon="delete" Text="Xóa phiếu" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Size="ButtonSize.Small" Variant="Variant.Flat" />
                <RadzenButton Visible="@(SelectedPXK.PXKTPID.Value != null)" Style="width: contain; min-width: 120px; height: contain;" Click="@(() => OnResetPhieuXuatKhoTPham())"
                              Icon="delete" Text="Reset phiếu" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Size="ButtonSize.Small" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "pxktpid")]
    public int? PXKTPID { get; set; }

    private List<PhieuXuatKhoTPham> DSPhieuXKs = new();
    private PhieuXuatKhoTPham SelectedPXK = new();
    private bool isSearching = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadDSachPhieuXuatKhoTPham();

        if (PXKTPID != null && PXKTPID != 0)
        {
            Common.SelectedPXKTPID = PXKTPID;

            DSPhieuXKs = DSPhieuXKs.Where(pxk => pxk.PXKTPID.Value?.ToString() == PXKTPID.ToString()).ToList();

            SelectedPXK = DSPhieuXKs.FirstOrDefault() ?? new();
        }
        else
        {
            ReSelectPhieuXuatKhoTPham();
        }

        await base.OnInitializedAsync();
    }

    private async Task LoadDSachPhieuXuatKhoTPham()
    {
        await Task.Run(() =>
        {
            DSPhieuXKs = SQLServerServices.GetListPhieuXuatKhoTPs(new(), true).phieuXuatKhos;

            DSPhieuXKs.Reverse();
        });
    }

    private void ReSelectPhieuXuatKhoTPham()
    {
        if (Common.SelectedPXKTPID != null)
        {
            SelectedPXK = DSPhieuXKs.FirstOrDefault(pnk => pnk.PXKTPID.Value?.ToString() == Common.SelectedPXKTPID.ToString()) ?? new();

            if (SelectedPXK.PXKTPID.Value == null)
            {
                SelectedPXK = DSPhieuXKs.FirstOrDefault() ?? new();
            }
        }
        else
        {
            SelectedPXK = DSPhieuXKs.FirstOrDefault() ?? new();
        }
    }

    private async Task GetFilterDSachKHXuatKho(string keyWord)
    {
        if (isSearching == false)
        {
            isSearching = true;

            await LoadDSachPhieuXuatKhoTPham();


            if (!string.IsNullOrEmpty(keyWord.Trim()))
            {
                DSPhieuXKs = DSPhieuXKs.Where(phieu => phieu.MaPhieuXK.Value?.ToString()?.IndexOf(keyWord.Trim(), StringComparison.OrdinalIgnoreCase) >= 0).ToList();

                ReSelectPhieuXuatKhoTPham();
            }

            await InvokeAsync(StateHasChanged);

            isSearching = false;
        }
    }


    private void OnPhieuXuatKhoTPhamClick(PhieuXuatKhoTPham selectPXK)
    {
        SelectedPXK = selectPXK;

        Common.SelectedPXKTPID = SelectedPXK.PXKTPID.Value;

        StateHasChanged();
    }



    // Delete phieu xuat kho from Database
    private async Task OnDeleteSelectedPhieuXuatKhoTPham()
    {
        if (SelectedPXK.PXKTPID.Value != null)
        {
            bool? comfirm = await DialogService.Confirm($"Xóa phiếu xuất kho này (<strong>{SelectedPXK.MaPhieuXK.Value?.ToString()}</strong>)?", "Xác nhận", new ConfirmOptions() { OkButtonText = "OK", CancelButtonText = "Hủy", ShowClose = false });

            if (comfirm.Value)
            {
                (bool result, string error) = SQLServerServices.DeletePhieuXuatKhoTPham(SelectedPXK.PXKTPID.Value);

                if (result)
                {
                    foreach (var thung in SelectedPXK.ListKhoThungTPham)
                    {
                        if (thung.MaQuanLyThung.Value != null)
                        {
                            thung.NgayXuatKho.Value = DBNull.Value;

                            thung.PXKTPID.Value = DBNull.Value;

                            thung.InStock.Value = 1;

                            (int udresult, string uderror) = SQLServerServices.UpdateThungTPham(thung);

                            if (udresult < 0)
                            {
                                break;
                            }
                        }
                    }

                    await LoadDSachPhieuXuatKhoTPham();

                    ReSelectPhieuXuatKhoTPham();

                    ShowNotification("Đã xóa phiếu!", NotificationSeverity.Success, 2000);
                }
                else
                {
                    await DialogService.Alert($"Error: {error}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
                }
            }
        }
    }

    private async Task OnResetPhieuXuatKhoTPham()
    {
        bool? comfirm = await DialogService.Confirm($"Trả danh sách thùng về trạng thái chưa xuất kho?", "Xác nhận", new ConfirmOptions() { OkButtonText = "OK", CancelButtonText = "Hủy", ShowClose = false });

        if (comfirm.Value)
        {
            bool resetSucess = true; string error = string.Empty;

            foreach (var thung in SelectedPXK.ListKhoThungTPham)
            {
                if (thung.MaQuanLyThung.Value != null)
                {
                    thung.NgayXuatKho.Value = DBNull.Value;

                    thung.InStock.Value = 1;

                    (int udresult, string uderror) = SQLServerServices.UpdateThungTPham(thung);

                    if (udresult < 0)
                    {
                        resetSucess = false; error = uderror;

                        break;
                    }
                }
            }

            if (resetSucess)
            {
                SelectedPXK.IsDonePXK.Value = DBNull.Value;

                (int udresult, string uderr) = SQLServerServices.UpdatePhieuXuatKhoTPhamAnyProperty(SelectedPXK, PhieuXuatKhoTPham.DBName.IsDonePXK);

                if (udresult < 1)
                {
                    await DialogService.Alert($"Error: {uderr}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
                }
                else
                {
                    ShowNotification("Đã reset phiếu!", NotificationSeverity.Success, 2000);
                }

            }
            else
            {
                await DialogService.Alert($"Error: {error}", "<strong><span style='color: red'>Error!</span></strong>", new AlertOptions() { OkButtonText = "OK", ShowClose = true });
            }

            await LoadDSachPhieuXuatKhoTPham();

            ReSelectPhieuXuatKhoTPham();
        }
    }

    private string IsPXKhoSelected(PhieuXuatKhoTPham selectPXK)
    {
        if (SelectedPXK.PXKTPID.Value != null && SelectedPXK.PXKTPID.Value.Equals(selectPXK.PXKTPID.Value))
        {
            return "pxkho_IsSelected";
        }
        else return string.Empty;
    }

    // Tooltip
    private void ShowToolTip(ElementReference elementReference, TooltipPosition position, string content)
    {
        TooltipOptions options = new TooltipOptions() { Position = position, Delay = 500, Style = "background-color: black" };

        TooltipService.Open(elementReference, content, options);
    }

    // Notification
    private void ShowNotification(string message, NotificationSeverity notifytype, double time)
    {
        NotificationMessage notify = new NotificationMessage
        {
            Style = "position: fixed; top: 0; right: 0;",
            Severity = notifytype,
            Summary = message,
            Duration = time
        };

        NotificationService.Notify(notify);
    }
}
